/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

/* li[class] {
  color: var(--red);
}
 */
li[id="cat"] {  /*exact search*/
  color: var(--teal);
}

li[class^='p'] { /*prefix search*/
  color: var(--green);
}

li[class*='do'] { /*substring search*/
  color: var(--royalblue);
}

li[class$='g'] { /*suffix search*/
    color: var(--violet);
}


/* Use descendant, child, and sibling selectors for the second part */
section li {
  color: var(--green);
}

.first ~ li { /* siblings adjacent to first are violet*/
  color: var(--violet);
}

.second + li { /* next sibling affected*/
 color: var(--royalblue);
}